[user]
	name = Drew Bruce
	email = drubruce@gmail.com

[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto

[core]
	editor = vim
	excludesfile = ~/.gitexcludes

[alias]
	co = checkout
	ci = commit
