[user]
	name = Drew Bruce

[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto

[core]
	editor = vim
	excludesfile = $HOME/.gitignore

[alias]
	co = checkout
	ci = commit
    st = status -s
