[user]
	name = Drew Bruce
	email = dbruce@concentricsky.com

[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto

[core]
	editor = vim
	excludesfile = /Users/dbruce/.gitexcludes

[alias]
	co = checkout
	ci = commit

[init]
	templatedir = /Users/dbruce/.git-template/
